{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
    {% else %}
        <div align="center">
        <br>
            <br>
            <h1>Sign In</h1>
            <div class="pad_center" >
                <h4> {{error_start}} </h4>
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct errors
                    </p>
                {% endif %}
                <form action="" method="post">
                    <div style="padding-right:80px">
                    {% csrf_token %}
                        <table>
                            {{form}}
                        </table>
                    </div>
                    <br>
                    <div class="btn_position" > 
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
